span{
    display: block;
    width: 200px;
    padding: 10px;
    background-color: brown;
}
div
{
    display: inline-block;
    padding: 10px;
    margin: 10px;
}
.red
{
    background-color: red;
}
.blue
{
    background-color: blue;
}
.orange
{
    background-color: orange;
}
.purple
{
    background-color: purple;
}
.pink
{
    background-color: pink;
}
.card
{
    background-color: bisque;
    width:180px;
    border: 2px solid black;
    padding-left:40px;
    margin: 10px;
}
nav{
    background-color: darkblue;
    padding-top: 10px;
    padding-left: 100px;
    height: 50px;
}
li
{
    color: white;
    display: inline;
    padding: 50px;
    
}
li:hover
{
    color: red;
}
.move
{
    position: relative;
    top: 30px;
    left: 50px;
}
.big
{
    width: 400px;
    height: 250px;
    background-color: red;
    position: relative;
}
.small
{

    background-color: yellow;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
}
.header
{
    position: fixed;
    height: 70px;
    width: 100%;
    left: 0;
    top: 0;
    background-color: darkblue;
    color: white;
    line-height: 70px;
    text-align: center;
}
.fix
{
    margin-top: 80px;
}
